.brand-logo {
    margin-left: 15px;
}

#main-title {
    margin-top: 10%;
}

#subtitle {
    line-height: 1.5em;
}

.bold {
    font-weight: bold;
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.fab {
    font-size: 2em;
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.filter-btn {
    margin: 5px;
}

.details-photo {
    width: 100%;
    margin-top: 10%;
}

.signup-btn {
    margin: 5% 0;
}

.container{
    padding: 15px;
    align-content: center;
}
form{
    padding: 25px;
    top: 50%;
    left: 50%;
}

#createAccount{
    display: none;
}

p{
    padding-left: 25px;
}

label{
    font-size: 17px;
    color: black;
}

@media only screen and (max-width: 1299px) {
    #main-title {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 759px) {
    #main-title {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 485px) {
    #subtitle {
        font-size: 1.25em;
    }
}