<!-- 404 Page Not Found -->
<div class="parallax-container">
  <div class="container">
    <div class="section">
      <div class="row center">
        <div class="col s12">
          <h1 class="header center comfortaa bold golden-text" id="notfound-title">404 Page Not Found</h1>
          <br>
          <a href="/" class="waves-effect waves-light btn-large red lighten-2">Back To Home</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Parallax Image -->
  <div class="parallax"><img src="/photos/background2.jpg" alt="girls photo"></div>
</div>