<!-- Class Details with payment successful -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6 center">
                <a href="/classes" class="waves-effect waves-light btn-large signup-btn">Payment Successful! Click here to see more classes</a>
            </div>

        </div>
    </div>
</div>