<!-- Intro -->
<div id="index-banner" class="parallax-container">
  <div class="section">
    <div class="container">
      <div class="row center">
        <div class="col s12">
          <h1 class="header center comfortaa bold" id="main-title">Learn. Explore. Grow.</h1>
          <h5 class="header" id="subtitle">classUp makes it simple for you to enroll in fun classes, take up new hobbies, meet interesting people, and share your skills with others.</h5>
          <br>
          <a href="classes" class="waves-effect waves-light btn-large red lighten-2">Browse all classes</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Parallax Image -->
  <div class="parallax"><img src="/photos/background.jpg" alt="activities photo"></div>
</div>
<!-- Container -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4 class="center comfortaa bold">Featured Classes</h4>
        <br>
        <div class="row">
          <!-- Featured Class Card -->
          {{#each data}}
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="{{this.photo}}" alt="class photo">
              </div>
              <div class="card-content">
                <span class="card-title comfortaa">{{this.title}}</span>
                <p>{{this.description}}</p>
              </div>
              <div class="card-action">
                <a href="/class-details/{{this.id}}">Learn more</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>