<!-- Sign Up Form -->
<div id="signup-form" class="container">
    <div class="section">
        <div class="row">
            <div class="row">
                <div class="col s12">
                    <div class="center">
                        <img src="photos/people2.jpg" width="75%">
                        <h4 class="comfortaa bold">Sign Up To Join The Fun!</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m2"></div>
                <div class="col s12 m8">
                    <div class="input-field">
                        <input id="name-signup" type="text" class="validate">
                        <label for="name-signup">Name</label>
                    </div>
                    <div class="input-field">
                        <input id="phone-signup" type="text" class="validate">
                        <label for="phone-signup">Phone Number</label>
                    </div>
                    <div class="input-field">
                        <input id="email-signup" type="email" class="validate">
                        <label for="email-signup">Email Address</label>
                    </div>
                    <div class="input-field">
                        <input id="password-signup" type="password" class="validate">
                        <label for="password-signup">Password</label>
                    </div>
                    <div class="center">
                        <button class="btn waves-effect waves-light btn-large signup-btn" type="submit" name="action">Create Account</button>
                        <p>Have an account? <span id="login-here" class="blue-text">Log in here</span></p>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

<!-- Log In Form -->
<div id="login-form" class="container">
    <div class="section">
        <div class="row">
            <div class="row">
                <div class="col s12">
                    <div class="center">
                        <img src="photos/3.jpg" width="75%">
                        <h4 class="comfortaa bold">Log In & Welcome Back!</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m2"></div>
                <div class="col s12 m8">
                    <div class="input-field">
                        <input id="email-login" type="email" class="validate">
                        <label for="email-login">Email Address</label>
                    </div>
                    <div class="input-field">
                        <input id="password-login" type="password" class="validate">
                        <label for="password-login">Password</label>
                    </div>
                    <div class="center">
                        <button class="btn waves-effect waves-light btn-large login-btn" type="submit" name="action">Log In</button>
                        <p>Need an account? <span id="signup-here" class="blue-text">Sign up here</span></p>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>