<!-- Payment Success -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h4 class="comfortaa bold">Your order has been completed!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <p>The payment was successful, you can <a href="/login-signup">login here</a> to view your classes</p>
            </div>
        </div>
    </div>
</div>